.background {
    background-image: url(/src/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1500px;
    margin-top: 0px;
}

.card{
    float: left;
    display: 'flexbox';
    flex-direction: row;
}

.create {
    float: left;
    min-height: 100vh;
    display: 'flexbox';
    flex-direction: column;
    align-items: left;
    text-Align: 'left';
    padding: 40px;
}

/* Textfield {
        width: 300px;
        height: 50px;
        border-radius: 8px;
        padding: 10px;
        font-size: 17px;
        border-color: rgb(255, 113,47);   
} */