.background {
    background-image: url(/src/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    margin-top: 0px;
}

.create {
    min-height: 100vh;
    display: 'flexbox';
    flex-direction: column;
    align-items: left;
    text-Align: 'left';
    padding: 20px;
}

.fab{
    display: flex;
    justify-content: space-around;
    color:blue;
    font-size: 18px;
    height: 100px;
    width: 100px;
}
