
input {
    width: 130px;
    height: 40px;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    border-color: rgb(255, 113,47);
}

.btn {
    background-color: rgb(255, 113,47);
    border: none;
    color: white;
    font-size: 15px;
}

.btn:hover{
    background-color: brown;
}
