.main{
    background-image: url(/src/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sub{
    background-color: rgba(255, 255, 255, 0.963);
    height: 580px;
    width: 35%;
    justify-content: center;
    
}

.welcome{
    padding: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.signsub{
    background-color: rgba(255, 255, 255, 0.963);
    height: 540px;
    width: 35%;
    justify-content: center;
   padding-top: 40px;
}

input {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    padding: 10px;
    font-size: 17px;
    border-color: rgb(255, 113,47);
}

.btn1 {
    background-color: rgb(255, 113,47);
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 8px;
}

.btn1:hover{
    background-color: brown;
}


